<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
            </ul>

            <!-- Move the search input to the center -->
            <div class="mx-auto">

                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           name="search"
                           hx-post="/search"
                           hx-trigger="keyup changed delay:500ms, search"
                           hx-target="table"
                           hx-swap="outerHTML"
                           hx-indicator=".htmx-indicator"
                    >
            </div>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container my-4">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0"><i class="bi "></i>Add New Student</h3>
        </div>
        <div class="card-body p-2">
            <button class="btn btn-primary" hx-get="/addStudent" hx-trigger="click" hx-swap="outerHTML" hx-target=".card-body">Add Student</button>
        </div>
    </div>
    <table class="table table-striped mt-3">
        <thead class="bg-primary text-white">
        <tr>
            <th>Full Name</th>
            <th>DOB</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s:${students}">
            <td th:text="${s.getFullname()}"></td>
            <td th:text="${s.getDob()}"></td>
            <td th:text="${s.getAge()}"></td>
            <td>
                <button class="btn btn-primary" th:attr="hx-get='/editStudent/' + ${s.getId()}" hx-target="closest tr" hx-swap="outerHTML">Edit</button>
                <button class="btn btn-danger" th:attr="hx-get='/deleteStudent/' + ${s.getId()}" hx-confirm="Are you sure?" hx-target="body">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://unpkg.com/htmx.org@1.9.5"></script>
<script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>


</body>
</html>
